// material colors
$body-bg: #f5f8fa;
$grey-50: #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$grey-600: #757575;
$grey-700: #616161;

$orange-500: #FF9800;
$orange-600: #FB8C00;
$orange-a200: #FFAB40;

$font-roboto: Roboto, 'Noto Sans', Noto, sans-serif;